.section-decoration{
    position: relative;

}

.section-decoration::before{
    content: '';
    position: absolute;
    background-color: red;
    padding-bottom: 35rem;
    top: 0;
    z-index: 1;
    width: 100%;
    border-radius: 2rem;
    transform: scaleX(2.5) rotate(6deg);

}

.z-col{
    z-index: 2;
}

@media (min-width: 768px) {


    .section-decoration::before{
        padding-bottom: 25rem;
    }
}

@media (min-width: 1400px) {

    .section-decoration::before{
        padding-bottom: 30rem;
    }
}